@font-face {
    font-family: 'nationalelight';
    src: url('fonts/nationale-light-webfont.woff2') format('woff2'),
         url('fonts/nationale-light-webfont.woff') format('woff'),
		 url('fonts/nationale-light-webfont.otf') format('otf');
    font-weight: normal;
    font-style: normal;

    }
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }

	body {
		font-family: 'nationalelight', 'Quicksand';
		margin: 0;
		background-color: #1f1f1f;
	}
	p {
		font-family: 'nationalelight', 'Quicksand';
		color: #fff;
		font-size: 15px;
	}
	a {
		color: #fff;
		text-decoration: none;
	}
	input[type=text] {
		color: #fff;
		font-family: 'nationalelight', 'Quicksand';
		font-size: 15px;
	}
	#links {
		padding-left: 5%;
		margin-top: 3em;
		margin-bottom: 3em;
	}
	.code-cat a {
		color: #fff !important;
	}
	.code-cat {
		border-right: 1px solid #fff;
	}
	.code {
		cursor: pointer;
		transition: color 0.5s ease;
	}
	.code:hover {
		color: #fff !important;
	}
	
	.news-cat a {
		color: #fff !important;
	}
	.news-cat {
		border-right: 1px solid #fff;
		color: #fff !important;
	}
	.news {
		cursor: pointer;
		transition: color 0.5s ease;
	}
	.news:hover {
		color: #fff !important;
	}
	.reddit-cat a {
		color: #fff !important;
	}
	.reddit-cat {
		border-right: 1px solid #fff;
		color: #fff !important;
	}
	.reddit {
		cursor: pointer;
		transition: color 0.5s ease;
	}
	.reddit:hover {
		color: #fff !important;
	}
	.category {
		padding-right: 14px;
		width: 50px;
		float: left;
	}
	.link {
		margin-right: 14px;
		color: #fff;
	}
	.link.news a {
		color: #fff;
	}
	.link.news a:hover {
		color: #eee !important;
	}
	#search-bar {
    	width: 90%;
    	border-bottom: 1px solid #fff;
		border-top: 0;
		border-left: 0;
		border-right: 0;
		color: #fff;
    	padding: 10px;
		margin-left: 5%;
		background-color: transparent;
		font-size: 15px;
		text-align: center;
	}
	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		font-family: 'nationalelight', 'Quicksand';
		color: #fff;
		opacity: 1;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		font-family: 'nationalelight', 'Quicksand';
		color: #fff;
		opacity: 1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		font-family: 'nationalelight', 'Quicksand';
		color: #fff;
		opacity: 1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		font-family: 'nationalelight', 'Quicksand';
		color: #fff;
		opacity: 1;
	}
	::-ms-input-placeholder { /* Microsoft Edge */
		font-family: 'nationalelight', 'Quicksand';
		color: #fff;
		opacity: 1;
	}
	.fa-gear {
		cursor: pointer;
	}
	.enter {
		border: 0;
		border-bottom: 1px solid rgb(227, 131, 127);
		background-color: transparent;
	}
	#news-title {
		color: #fff;
	}
	#score-3 {
		color: red;
	}
	#save {
		border: 1px solid #fff;
		background-color: transparent;
		padding: 5px 10px;
		width: 100%;
		margin: 0 auto;
		color: #fff;
		cursor: pointer;
		font-family: 'nationalelight', 'Quicksand';
		font-size: 15px;
	}
	.x {
		position: absolute;
		color: #fff;
		right: 12px;
		top: 5px;
		padding: 0;
		margin: 0;
		cursor: pointer;
	}
	.date {
		color: #fff;
	}
	.weather-widget {
		color: #fff;
	}
	#btc-price {
        display: inline;
        float: left;
		color: #e3b57f;
    }
    #eth-price {
        display: inline;
        float: left;
        color: #A9C5E6;
        margin-left: 15px;
    }
    #xrp-price {
        display: inline;
        float: left;
        color: #0A93F3;
        margin-left: 15px;
    }
    #bch-price {
        display: inline;
        float: left;
        color: #5cb85c;
        margin-left: 15px;
	}
	#top {
		border: 1px solid #fff;
		background-color: #1f1f1f;
		height: 130px;
		width: calc(100% - 2px);
	}
	#bottom {
		background-color: #1F1F1F;
		height: 69%;
		width: 100%;
		padding-top: 60px;
	}
	.container-rect {
		background: transparent;
		height: auto;
		width: 700px;
		border: 1px solid #fff;
		position: relative;
		top: 15%;
		margin: 0 auto;
		
	}
	#next-post-news {
		cursor: pointer;
		color: #fff;
	}
	h1, h2, h3, p {
		font-family: 'nationalelight', 'Quicksand';
	}
	.title {
		text-transform: uppercase;
		letter-spacing: 2px;
		color: white;
		text-align: center;
	}
	#searchbar {
		background-color: transparent;
		border: 0;
		width: 90%;
		text-align: center;
	}
	.settings {
		width: 300px; 
		background-color: #1f1f1f;
		border: 1px solid #fff;
		position: absolute;
		top: 80px;
        padding: 1em;
        z-index: 1;
	}
	.pad-left {
		padding-left: 1em;
	}
	.pad-right {
		padding-left: 1em;
	}
	.top-left {
		width: 50%;
		border-right: 1px solid #fff;
		float: left;
		height: 100%;
	}
	.top-right {
    	width: calc(50% - 1px);
    	float: left;
		height: 100%;
	}
	hr {
		border: 0; 
		height: 2px; 
		background-image: linear-gradient(to right, rgba(227, 131, 127, 0), rgba(227, 131, 127, 0.75), rgba(227, 131, 127, 0));
	}
	/* radio buttons */
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		margin-bottom: 1em;
		text-align: center;
	}

	label[for="far"], label[for="cel"] {
		cursor: pointer;
		border: 1px solid #fff;
		padding: 4px;
	}	
	
	ul li {
		display: inline;
		margin-right: 30px;
	}	
	
	ul li input[type=radio]{
		visibility: hidden;
		float: left;
		display: none;
	}

	ul li .check::before {
		position: absolute;
		content: '';
		border-radius: 100%;
		height: 15px;
		width: 15px;
		top: 5px;
		left: 5px;
		margin: auto;
		transition: background 0.25s linear;
		-webkit-transition: background 0.25s linear;
	}

	input[type=radio]:not(:checked) ~ .check {
		border: 5px solid #fff;
	}

	input[type=radio]:not(:checked) ~ .check::before{
		background: #fff;
	}

	input[type=radio]:not(:checked) ~ label{
		color: #fff;
	}	
	
	input[type=radio]:checked ~ .check {
		border: 5px solid #7fdfe3;
	}

	input[type=radio]:checked ~ .check::before{
		background: #7fdfe3;
	}

	input[type=radio]:checked ~ label{
		color: #7fdfe3;
		border: 1px solid #7fdfe3;
	}